html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    overflow-x: hidden;
}    
h1, p {
    margin: 5px;
}
.birthstone-bounce-medium {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    margin-bottom: 30px;
}
.caption {
    font-size: 16px;
    color: black;
    margin: 0 0 15px 0;
    font-style: italic;
}

/* NAVBAR */

nav {
    width: 100%;
    background-color: pink;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color: white;
}
.logo {
    font-size: 25px;
    font-weight: bold;
    margin-left: 6%;
}
.hamburger {
    display: none;
    margin-right: 6%;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 22.5px;
}
.hamburger:hover {
    transform: scale(1.25);
}
#menu {
    margin-right: 6%;
    display: flex;
    gap: 22.5px;
}
#menu i {
    transition: transform 0.3s;
    font-size: 22.5px;
}
#menu a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menu span {
    font-size: 15px;
    margin-top: 8px;
    display: none;
    font-weight: bold;
}
#menu i:hover {
    transform: scale(1.25);
}

/* COVER */

#cover {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, pink, aliceblue);
}
.button {
    background-color: pink;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 60%;
    max-width: 400px;
    height: 40px;
    border-radius: 20px;
    transition: transform 0.3s;
    margin: 25px 0 25px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button:hover {
    transform: scale(1.1);
}

/* CARD */

#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    display: flex;
    text-align: left;
    margin: 20px;  
}
.profile {
    background-color : pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 240px;
    border-radius: 20px 0 0 20px;
}
.profile-photo {
    background-color: white;
    width: 90px;
    height: 120px;
    border-radius: 8px;
}
.about {
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: pink;
    width: 240px;
    height: 240px;
    border-radius: 0 20px 20px 0;
}
.biodata {
    font-size: 13.5px;
    margin: 5px 5px -5px 5px;
}

.beautiful, .cute, .kind, .tall, .sexy {
    width: 85%;
    height: 6px;
    margin: 8px 0 8px 5px;
}

.beautiful {
    background: linear-gradient(to right, deeppink 100%, white 0%);
}
.cute {
    background: linear-gradient(to right, deeppink 90%, white 10%);
}
.kind {
    background: linear-gradient(to right, deeppink 80%, white 20%);
}
.tall {
    background: linear-gradient(to left, white 98%, deeppink 2%);
}
.sexy {
    background: linear-gradient(to right, deeppink 100%, white 0%); transform: scaleX(6); 
    transform-origin: left;
}

/* TIMER */

#timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin: 40px 0 10px 0;
}
.time-box {
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: pink;
    border-radius: 10px;
    font-weight: bold;
    font-size: 50px;
}
.timer-text {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.timer-text div{
    font-size: 17.5px;
    margin: 0 0 5px 0;
    width: 100px;
    font-weight: bold;
}

/* PLAYLIST */

#playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
iframe {
    border-radius: 20px;
    width: 360px;
    height: 360px;
    margin: 10px;
}


#album {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 30px 50px 30px;
}
.content {
    margin: 20px 10px 0px 10px;
    transition: transform 0.3s;
    position: relative;
}
img {
    width: 280px;
    height: 210px;
    border-radius: 15px;
}
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    transition: opacity 0.3s;
}
.info {
    bottom: 5px;
    left: 5px; 
    text-align: left;
    color: white;
    position: absolute;
    transition: opacity 0.3s;
}
h1 {
    font-size: 28px;
}
.content:hover {
    transform: scale(1.1);
}
.content:hover .info{
    opacity: 0;
}
.content:hover .overlay {
    opacity: 0;
}
.photobooth {
    margin: 20px 10px 0 15px;
    transition: transform 0.3s;
    position: relative;
}
.photo {
    width: 270px;
    height: 360px;
    border-radius: 15px;
}
.photobooth:hover {
    transform: scale(1.1);
}
.photobooth:hover .info{
    opacity: 0;
}
.photobooth:hover .overlay {
    opacity: 0;

/* LETTER */

}
#letter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.envelope{
    margin: 30px 0 0 0;
    height: 250px;
    width: 250px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: beige;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 300px;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}
.copyright {
    font-size: 15px;
    color: black;
    margin: 40px 0 15px 0;
}

/* LOGIN */

.login {
    background: linear-gradient(to bottom, pink, aliceblue);   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.welcome {
    font-size: 40px;
    color: black;
    margin: 0 0 40px 0;
    font-weight: bold;
}
.login-bar {
    background-color: aliceblue;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
input {
    width: 70%;
    height: 50px;
    border: 0;
    border-radius: 8px;
    transition: transform 0.3s;
    font-size: 18px;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}
input::placeholder {
    font-size: 18px;
    font-family: sans-serif;
}
.submit {
    background-color: pink;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    transition: transform 0.3s;
    margin: 15px 0 0 0;
}
.submit:hover {
    transform: scale(1.1);
}
input:hover {
    transform: scale(1.1);
    border: pink 2px solid;
}
.error {
    color: red;
    margin-top: 20px;
    font-size: 14.5px;
}

/* MOBILE STYLES */

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    #menu {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        position: absolute;
        background-color: pink;
        width: 100%;
        height: 150px;
        gap:1px ;
        transition: top 2s ease-in-out;
        border-radius: 0 0 25px 25px;
    }

    #menu a {
        width: 75px;;
    }    
    #menu i:hover {
        transform: scale(1.5);
    }
    #menu span {
        display: block;
    }
    #menu.show {
        display: grid;
        top: 55px;
    }

    .time-box {
        height: 75px;
        width: 75px;
        font-size: 35px;
    }
    .timer-text div{
        font-size: 15px;
        width: 75px;
    }
}